@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    src: url($furl) format('woff2');
  }
}

@include font('JetBrainsMono', normal, 400, './fonts/JetBrainsMonoRegular.woff2');
@include font('JetBrainsMono', normal, 500, './fonts/JetBrainsMonoMedium.woff2');
@include font('JetBrainsMono', normal, 600, './fonts/JetBrainsMonoSemiBold.woff2');

.card {
  //position: relative;
  //top: 50%;
  //left: 10%;
  background-color: #2a2a32;
  border-radius: 10px;
  max-width: 650px;
  //max-height: 2000px;
  padding: 40px 200px 40px 30px;
  color: #fff;
  font-family: JetBrainsMono, sans-serif;
  font-weight: 500;
  font-size: 18px;
  @media (min-width: 1400px) and (max-width: 1823px) {
    font-size: 16px;
    padding: 35px 150px 35px 30px;
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    font-size: 14px;
    padding: 30px 130px 30px 15px;
  }
  @media (max-width: 1199px) {
    padding: 10px;
    font-size: 12px;
    display: none;
  }
  pre {
    font-family: JetBrainsMono, sans-serif;
    font-weight: 600;
    line-height: 25px;
    @media (min-width: 1200px) and (max-width: 1399px) {
      line-height: 20px;
    }
    @media (max-width: 1199px) {

    }
  }
}

.variable {
  color: #E5C07B;
}

.const {
  color: #C678DD;
}