@import "../../../utils/variables";

.navbar {
  color: $color;
  width: 100%;
  height: $size;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 calc(#{$size} * 2.5);
  align-items: center;
  font-size: 20px;
  @media (min-width: 1400px) and (max-width: 1823px) {
    font-size: 18px;
    padding: 0 calc(#{$size} * 1.5);
  }
  @media (min-width: 1200px) and (max-width: 1399px) {
    font-size: 16px;
    padding: 0 calc(#{$size} * 1.5);
  }
}

.title {
  //padding-left: 80px;
  @media (max-width: 1199px) {
    display: none;
  }
}

.links {
  display: flex;
  letter-spacing: .1em;
  //justify-content: center;
  //flex: 0 0 500px;
  a {
    color: $color;
    margin: 0 50px;
    text-decoration: none;
    transition: color ease-out .2s;
    &:visited {
      color: $color;
    }
    &:focus {
      color: $color;
    }
    &:hover {
      color: $yellow;
    }
    @media (min-width: 1400px) and (max-width: 1823px) {
      margin: 0 35px;
    }
    @media (min-width: 1200px) and (max-width: 1399px) {
      margin: 0 30px;
    }
  }
}